@import './layout.scss';

@mixin btn($size:14,$color:rgb(214, 132, 132),$bgground:#fff,$radius:4px,$padding:5px){
  display:inline-block;
  padding: $padding;
  font-size: $size;
  color: $color;
  line-height:1;
  text-align: center;
  border:1px solid $bgground;
  border-radius: $radius;
}
@mixin list($direction:column){
  @include flex($direction)
}